@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
* { margin: 0 }

body{
    
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin:0;
    list-style:none;
    background:#200959;
}
 span{
    position: top;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "Retour";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(39, 9, 172);
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: #fff;
    background: rgb(39, 9, 172);
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: rgb(39, 9, 172);
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  .image_cv{
  align-items: center;
  }

* {
    box-sizing: border-box;
}
main {
    margin: 0 auto;
	padding: .875em .5em;
	max-width: 32em;
	background: #200959;
	font: 1.25em/ 1.375 'Akshar', sans-serif;
    position:relative;
    color:#fff;
	
	* + * { margin-top: 1.375em }
}
